@model MvcApplication.Models.Friend

<span class="span1">@Html.LabelFor(m => m.Name)</span><span class="span10">@Html.TextBoxFor(m => m.Name)</span>
<span class="span1">@Html.LabelFor(m => m.State)</span><span class="span10">@Html.TextBoxFor(m => m.State)</span>
<span class="span1">@Html.LabelFor(m => m.Employer)</span><span class="span10">@Html.TextBoxFor(m => m.Employer)</span>
<span class="span1">@Html.LabelFor(m => m.HighSchool)</span><span class="span10">@Html.TextBoxFor(m => m.HighSchool)</span>
<span class="span1">@Html.LabelFor(m => m.College)</span><span class="span10">@Html.TextBoxFor(m => m.College)</span>
<span class="span1">@Html.LabelFor(m => m.PhoneNumber)</span><span class="span10">@Html.TextBoxFor(m => m.PhoneNumber)</span>
<span class="span1">@Html.LabelFor(m => m.URL)</span><span class="span10">@Html.TextBoxFor(m => m.URL)</span>