@using MvcApplication.Models
@model MvcApplication.Models.OrderForm

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_master.cshtml";
}

<div class="container-fluid">
    <h4>请在表格中输入您的订单，* 是必须的。</h4>
    @using (Html.BeginForm("Send", "Order"))
    { 
        @Html.ValidationSummary()
        <span class="span1">@Html.LabelFor(m => m.CompanyName)</span><span class="span10">@Html.TextBoxFor(m => m.CompanyName)</span>
        <span class="span1">@Html.LabelFor(m => m.Address)</span><span class="span10">@Html.TextBoxFor(m => m.Address)</span>
        <span class="span1">@Html.LabelFor(m => m.PhoneNumber)</span><span class="span10">@Html.TextBoxFor(m => m.PhoneNumber)</span>
        <span class="span1">@Html.LabelFor(m => m.FaxNumber)</span><span class="span10">@Html.TextBoxFor(m => m.FaxNumber)</span>
        <span class="span1">@Html.LabelFor(m => m.ContactName)</span><span class="span10">@Html.TextBoxFor(m => m.ContactName)</span>
        <span class="span1">@Html.LabelFor(m => m.Email)</span><span class="span10">@Html.TextBoxFor(m => m.Email)</span>
        <span class="span1">@Html.LabelFor(m => m.OrderDetail)</span><span class="span10">@Html.TextAreaFor(m => m.OrderDetail, new { @cols = 80, @rows = 10 })</span>
    
        <span class="span2"></span><input type="submit" class="btn btn-primary" value="提交" />
    }
</div>
