<table cols="2" style="font-size :11px">
    <tr>
        <td>公司名称</td>
        <td>
            @ViewBag.OrderForm.CompanyName
        </td>
    </tr>
    <tr>
        <td>地址</td>
        <td>
            @ViewBag.OrderForm.Address
        </td>
    </tr>
    <tr>
        <td>电话</td>
        <td>
            @ViewBag.OrderForm.PhoneNumber
        </td>
    </tr>
    <tr>
        <td>传真</td>
        <td>
            @ViewBag.OrderForm.FaxNumber
        </td>
    </tr>
    <tr>
        <td>联系人</td>
        <td>
            @ViewBag.OrderForm.ContactName
        </td>
    </tr>
    <tr>
        <td>电子邮件</td>
        <td>
            @ViewBag.OrderForm.Email
        </td>
    </tr>
</table>
<p style="font-size:11px">订购详细说明:</p>
<p style="font-size:11px; width: 200px; word-wrap: break-word">@ViewBag.OrderForm.OrderDetail</p>


     


